<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="LiveIndex">
    <listeners>
        <listener class-name="com.xmly.listener.reportlistener.ExtentTestNGIReporterListener"/>
        <listener class-name="com.xmly.listener.testnglistener.RetryListener"/>
    </listeners>
    <test verbose="3" preserve-order="true" parallel="methods" thread-count="1" name="直播首页检查">
        <classes>
            <!--<class name="com.xmly.cases.android.liveindex.CaseCheckSearchBar">-->
                <!--<methods>-->
                    <!--<include name="CheckSearchBar"/>-->
                <!--</methods>-->
            <!--</class>-->
            <!--<class name="com.xmly.cases.android.liveindex.CaseCheckCreateLiveRoomBtn">-->
                <!--<methods>-->
                    <!--<include name="checkCreateLiveRoomBtn"/>-->
                <!--</methods>-->
            <!--</class>-->
            <!--<class name="com.xmly.cases.android.liveindex.CaseCheckLiveRecord">-->
                <!--<methods>-->
                    <!--<include name="checkLiveRecord"/>-->
                <!--</methods>-->
            <!--</class>-->
            <!--<class name="com.xmly.cases.android.liveindex.CaseCheckLiveTab">-->
                <!--<methods>-->
                    <!--<include name="checkLiveTab"/>-->
                <!--</methods>-->
            <!--</class>-->
            <!--<class name="com.xmly.cases.android.liveindex.CaseCheckLiveRoom">-->
                <!--<methods>-->
                    <!--<include name="checkLiveRoom"/>-->
                <!--</methods>-->
            <!--</class>-->
        </classes>
    </test>
    <test verbose="3" preserve-order="true" parallel="methods" thread-count="1" name="主播端直播间检查">
        <classes>
            <!--<class name="com.xmly.cases.android.liveindex.CaseCheckSearchBar">-->
            <!--<methods>-->
            <!--<include name="CheckSearchBar"/>-->
            <!--</methods>-->
            <!--</class>-->
            <class name="com.xmly.cases.android.AnchorLiveRoom.CaseCall">
                <methods>
                    <include name="checkCall"/>
                </methods>
            </class>
            <!--<class name="com.xmly.cases.android.liveindex.CaseCheckLiveRecord">-->
            <!--<methods>-->
            <!--<include name="checkLiveRecord"/>-->
            <!--</methods>-->
            <!--</class>-->
            <!--<class name="com.xmly.cases.android.liveindex.CaseCheckLiveTab">-->
            <!--<methods>-->
            <!--<include name="checkLiveTab"/>-->
            <!--</methods>-->
            <!--</class>-->
            <!--<class name="com.xmly.cases.android.liveindex.CaseCheckLiveRoom">-->
            <!--<methods>-->
            <!--<include name="checkLiveRoom"/>-->
            <!--</methods>-->
            <!--</class>-->
        </classes>
    </test>
</suite>